@helper IconBars(int count)
{
    for (var i = 0; i < count; i++)
    {
        <span class="icon-bar"></span>
    }
}
@helper CartQuantity()
{
    if (Session["cartQuantity"] != null && (int)Session["cartQuantity"] > 0)
    {
        <span class="badge badge-light">@Session["cartQuantity"]</span>
    }
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                @IconBars(3)
            </button>
            <a href='@Url.Action("Index", "Home")' class="navbar-brand">
                <div class="brand-logo"></div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Shop", "Index", "Product")</li>
                <li>@Html.ActionLink("About", "Index", "About")</li>
                <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session["loggedIn"] != null)
                {
                    <li>@Html.ActionLink("My Account", "Index", "Account")</li>
                    <li><a href="@Url.Action("Index", "Logout")"><i class="fa fa-sign-out"></i>Sign Out</a> </li>
                }
                else
                {
                    <li>@Html.ActionLink("Log In", "Index", "Login")</li>
                    <li>@Html.ActionLink("Sign Up", "Index", "Signup")</li>
                }
                <li><a href='@Url.Action("Index", "Cart")'><i class="fa fa-shopping-cart"></i>@CartQuantity() Cart</a></li>
            </ul>
        </div>
    </div>
</div>
